<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true" scanPeriod="30 seconds">

	<!-- PROPERTIES -->
	<property name="LOG_ENV" value="local" /><!-- 设置log环境，用于读取相应的properties文件 -->
	<property name="APP_NAME" value="test" /><!-- 应用名称 -->
	<define name="CONFIG_EXISTS" class="ch.qos.logback.core.property.ResourceExistsPropertyDefiner">
		<resource>META-INF/config/logback/log-${LOG_ENV}.properties</resource>
	</define>
	<if condition='p("CONFIG_EXISTS").equals("true")'>
		<then>
			<property resource="META-INF/config/logback/log-${LOG_ENV}.properties" />
		</then>
	</if>
	<property name="LOG_HOME" value="${LOG_HOME:-/home/logs/${APP_NAME}}" /><!-- 应用日志目录 -->
	<property name="FLAT_LOG_DIR" value="${FLAT_LOG_DIR:-false}" /><!-- 是否使用扁平的日志目录结构（即不为模块项目创建子日志目录），缺省为false  -->
	<!--/ PROPERTIES -->
	
	<include resource="META-INF/config/logback/logback.xml" /><!-- 主日志配置 -->
	
</configuration>
 